@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700');

body {
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
}

.stand-out {
    background-color: #f7f7f7;
    min-height: 100vh;
    padding-bottom: 60px;
}

.page-heading {
    font-weight: 400;
    letter-spacing: 3px;
}

/*----------------------------------------- Footer */
#footer-text {
    margin-bottom: 0px;
    color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*----------------------------------------- Form Container */

.form-container {
    border: 1px solid black;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*----------------------------------------- Buttons */

.button_link {
    text-decoration: none;
    color: #f7f7f7;
}

.button_link:hover {
    text-decoration: none;
    color: #f7f7f7;
}

.title-and-button {
    padding-left: 0px;
}

.top_button {
    margin-bottom: 20px;
}

.filter-button {
    background: transparent;
    color: rgba(250, 250, 250, 1);
    border-radius: 30%;
    border-color: rgba(250, 250, 250, 0.8);
    margin-bottom: auto;
}

.view-recipe-button {
    background-color: #72bcd4;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid black;
    font-weight: 300;
}

/*----------------------------------------- Base - Jumbotron */

.bg-light {
    background-color: #ADD8E6!important;
}

.navbar a {
    color: #f2f2f2!important;
}

.jumbotron {
    background-image: url('../images/jumbotron-desktop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 90px;
    height: 400px!important;
    opacity: 0.8;
    border-radius: 12px;
}

.jumbo-text {
    margin: 70px 0px;
    color: #f2f2f2;
}

.jumbo-text p {
    letter-spacing: 2.5px;
    line-height: 30px;
}

.filter-form {
    margin-top: -25px;
    letter-spacing: 1px;
    color: #f2f2f2;
}

/*----------------------------------------- About */

#about-pic {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#about-p {
    line-height: 30px;
    letter-spacing: 1px;
}

/*----------------------------------------- Recipe Card */

.recipe-card {
    border: 1px solid black;
    margin-bottom: 25px;
    border-radius: 5px;
    height: 300px;
    letter-spacing: 0.5px;
    font-size: 110%;
}

#recipe-card-image-area {
    padding-left: 0px;
}

#recipe-card-image {
    border-radius: 5px;
    height: 298px;
    width: 300px;
}

.recipe-card-row {
    height: 100px;
}

#recipe-card-top-row {
    margin-top: 25px;
}

#recipe-card-text-area {
    padding-right: 0px;
    padding-left: 60px;
    font-size: 115%;
}

hr {
    margin-top: -2rem;
    margin-bottom: 2rem;
    margin-right: 40px;
    background-color: #ADD8E6;
}

.card-icon {
    color: #e6bbad;
    font-size: 115%;
}

.bottom-row-div {
    margin-bottom: auto;
    margin-top: auto;
}

/*----------------------------------------- Recipe Page */

.recipe-heading-container {
    border-bottom: 1px solid black;
    margin-bottom: 22px;
}

#main-title {
    margin-bottom: 10px;
}

.recipe-page-title {
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 15px;
}

.stats-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.stat {
    font-size: 1.25rem;
    margin-bottom: 0px;
    padding: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}

.recipe-list {
    list-style-type: none;
}

.recipe-image {
    max-width: 350px;
    max-height: 425px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

#recipe-description {
    padding: 45px 0px;
    margin: 0px!important;
}

.border-class {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px;
}

.list-icon {
    color: #ADD8E6;
}

.border-left {
    border-left: 1px solid #ADD8E6;
}

.method-list-item {
    font-size: 110%;
    margin-bottom: 5px;
    letter-spacing: 0.3px;
}

.uppercase {
    text-transform: uppercase;
}

ul {
    padding-left: 0px;
}

.ad-container {
    background-color: white;
}

.ad-image {
    max-width: 330px;
    max-height: 250px;
    float: left;
    border-radius: 5px;
}

.ad-title {
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 1px;
}

.ad-paragraph {
    padding: 30px;
    margin-bottom: 0px;
}

.ad-button {
    font-size: 120%;
    letter-spacing: 1px;
    background-color: #FF0000;
    color: white;
    border-radius: 15px;
    border: 1px solid black;
    text-decoration: none;
    padding: 5px;
    margin-top: 3px;
}

.ad-link {
    color: white;
    padding: 13px;
}

.ad-button:hover {
    background-color: white;
}

.ad-link:hover {
    text-decoration: none;
    color: red;
}

.no-ad {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*----------------------------------------- Media Queries */

@media (max-width: 768px) {
    .recipe-card {
        height: 210px;
    }

    .row {
        margin-right: 0px;
        margin-left: 0px;
    }

    #recipe-card-image {
        border-radius: 5px;
        height: 208px;
        width: 215px;
    }

    #recipe-card-top-row {
        margin-top: 10px;
    }

    #recipe-title {
        clear: both;
        white-space: nowrap;
        display: inline-block;
    }

    #recipe-card-text-area {
        font-size: 90%;
    }

    i {
        font-size: 80%;
    }

    hr {
        margin-left: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .top-line {
        margin-top: -63px;
    }

    .bottom-line {
        margin-top: -10px;
    }

    .view-recipe-button {
        margin-left: -10px;
    }


    .recipe-image {
        max-width: 270px;
        max-height: 350px;
    }

    .ad-image-container {
        padding-left: 1px;
    }

    .ad-image {
        max-width: 225px;
    }

    .ad-paragraph {
        font-size: 80%;
        text-align: justify;
        padding: 10px;
    }

    .ad-title {
        font-size: 1.25rem;
        margin-top: 6px;
        margin-bottom: 1px;
    }

    .ad-button {
        font-size: 90%;
    }
}

@media (max-width: 414px) {
    .recipe-card {
        height: 200px;
    }
    
    #recipe-card-image {
        border-radius: 5px;
        height: 199px;
        width: 145px;
    }
    
    #recipe-card-text-area {
        font-size: 75%;
    }
    
    .border-left {
        padding-top: 20px;
        border-left: none!important;
        border-top: 1px solid black;
        margin-top: 20px;
    }

    .ad-image-container {
        padding: 1px;
    }

    .ad-image {
        max-width: 100%;
    }

    .ad-button {
        margin-bottom: 20px;
    }
    .time-div {
        padding-right: 0px;
    }
    .serves-div {
        padding-left: 10px;
        padding-right: 0px;
    }
}
