{% extends 'base.html' %} {% block content %}

<section>
    {% for recipe in recipes %}
        <div class="container">
            <div class="row recipe-card">
                <div class="col-3" id="recipe-card-image-area">
                    <img src="{{ recipe.photo }}" id="recipe-card-image">
                </div>
                <div class="col-9" id="recipe-card-text-area">
                    <!-- Top Row -->
                    <div class="row recipe-card-row" id="recipe-card-top-row">
                        <div class="col-4 mt-1" id="recipe-title">
                            <p>{{ recipe.recipe_name.capitalize() }}</p>
                        </div>
                        <div class="col-4 mt-1 d-none d-md-inline">
                            <i class="fa fa-cutlery card-icon" aria-hidden="true"></i>
                            <p class="d-inline ml-1">{{ recipe.course }}</p>
                        </div>
                        <div class="col-4 mt-1 d-none d-md-inline">
                            <i class="fa fa-globe card-icon" aria-hidden="true"></i>
                            <p class="d-inline ml-1">{{ recipe.cuisine }}</p>
                        </div>
                    </div>
                    <hr class="recipe-card-line top-line">
                    <!-- Middle Row -->
                    <div class="row recipe-card-row">
                        <div class="col-12">
                            <p><i>" {{ recipe.summary }} "</i></p>
                        </div>
                    </div>
                    <hr class="recipe-card-line bottom-line">
                    <!-- Bottom Row -->
                    <div class="row">
                        <div class="col-4 time-div bottom-row-div">
                            <i class="fa fa-clock-o d-inline d-lg-none card-icon" aria-hidden="true"></i>
                            <p class="d-none d-xl-inline"><span class="d-md-none d-lg-inline">Total </span>Time: </p>
                            <p class="d-inline ml-1">{{ recipe.prep_time|int + recipe.cook_time|int }}<span class="d-none d-sm-inline"> mins</span></p>
                            <i class="fa fa-clock-o ml-1 d-none d-lg-inline card-icon" aria-hidden="true"></i>
                        </div>
                        <div class="col-4 serves-div bottom-row-div">
                            <i class="fa fa-users d-inline d-lg-none card-icon" aria-hidden="true"></i>
                            <p class="d-none d-sm-inline ml-1">Serves: </p>
                            <p class="d-inline ml-1">{{ recipe.serves_num }}</p>
                            <i class="fa fa-users ml-1 d-none d-lg-inline card-icon" aria-hidden="true"></i>
                        </div>
                        <div class="col-4">
                            <button class="view-recipe-button"><a href="{{ url_for('recipe', id=recipe._id) }}" class="button_link">View<span class="d-none d-md-inline"> Recipe</span></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
