{% extends 'base.html' %} {% block content %}
<section>
    <h1>{{ user }}'s recipes:</h1>
    <button><a href="{{ url_for('add_recipe') }}">Add Recipe</a></button>
    {% for recipe in recipes %}
    <div class="container">
        <div class="row recipe-card">
            <div class="col-3" id="recipe-card-image-area">
                <img src="{{ recipe.picture }}" id="recipe-card-image">
            </div>
            <div class="col-9" id="recipe-card-text-area">
                <!-- Top Row -->
                <div class="row recipe-card-row" id="recipe-card-top-row">
                    <div class="col-4" id="recipe-title">
                        <p>{{ recipe.recipe_name }}</p>
                    </div>
                    <div class="col-4 d-none d-md-block">
                        <p>{{ recipe.course }}</p>
                    </div>
                    <div class="col-4 d-none d-md-block">
                        <p>{{ recipe.cuisine }}</p>
                    </div>
                </div>
                <hr class="recipe-card-line top-line">
                <!-- Middle Row -->
                <div class="row recipe-card-row">
                    <div class="col-12">
                        <p><i>" {{ recipe.summary }} "</i></p>
                    </div>
                </div>
                <hr class="recipe-card-line bottom-line">
                <!-- Bottom Row -->
                <div class="row">
                    <div class="col-4">
                        <p>{{ recipe.total_time }}</p>
                    </div>
                    <div class="col-4">
                        <p>{{ recipe.serves_num }}</p>
                    </div>
                    <div class="col-4">
                        <button class="view-recipe-button"><a href="{{ url_for('recipe', id=recipe._id) }}">View<span class="d-none d-md-block"> Recipe</span></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProfileModal">Delete Profile </button>
    </div>
</div>
<div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger uppercase" id="deleteModalLabel"><strong>Delete Profile</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>Are you sure you want to do this?</p>
                <p>This will delete all of your reviews and your profile.</p>
                <p>There's no way of retrieving your data once it's gone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href=" {{ url_for('delete_profile') }} " class="btn btn-danger" title="Delete Profile" >Delete Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}