{% extends 'base.html' %} {% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 title-and-button">
                <h1 class="page-heading uppercase">{{ user }}'s recipes:</h1>
            </div>
            <div class="col-12 title-and-button top_button">
                <button class="btn btn-success"><a href="{{ url_for('add_recipe') }}" class="button_link">Add Recipe</a></button>
            </div>
        </div>
    </div>
    {% for recipe in recipes %}
        <div class="container">
            <div class="row recipe-card">
                <div class="col-3" id="recipe-card-image-area">
                    <img src="{{ recipe.photo }}" id="recipe-card-image" alt="Recipe Image">
                </div>
                <div class="col-9" id="recipe-card-text-area">
                    <!-- Top Row -->
                    <div class="row recipe-card-row" id="recipe-card-top-row">
                        <div class="col-4 mt-1" id="recipe-title">
                            <p>{{ recipe.recipe_name.capitalize() }}</p>
                        </div>
                        <div class="col-4 mt-1 d-none d-md-inline">
                            <i class="fa fa-cutlery card-icon" aria-hidden="true"></i>
                            <p class="d-inline ml-1">{{ recipe.course }}</p>
                        </div>
                        <div class="col-4 mt-1 d-none d-md-inline">
                            <i class="fa fa-globe card-icon" aria-hidden="true"></i>
                            <p class="d-inline ml-1">{{ recipe.cuisine }}</p>
                        </div>
                    </div>
                    <hr class="recipe-card-line top-line">
                    <!-- Middle Row -->
                    <div class="row recipe-card-row">
                        <div class="col-12">
                            <p><i>" {{ recipe.summary }} "</i></p>
                        </div>
                    </div>
                    <hr class="recipe-card-line bottom-line">
                    <!-- Bottom Row -->
                    <div class="row">
                        <div class="col-4 time-div bottom-row-div">
                            <i class="fa fa-clock-o d-inline d-lg-none card-icon" aria-hidden="true"></i>
                            <p class="d-none d-xl-inline"><span class="d-md-none d-lg-inline">Total </span>Time: </p>
                            <p class="d-inline ml-1">{{ recipe.prep_time|int + recipe.cook_time|int }}<span class="d-none d-sm-inline"> mins</span></p>
                            <i class="fa fa-clock-o ml-1 d-none d-lg-inline card-icon" aria-hidden="true"></i>
                        </div>
                        <div class="col-4 serves-div bottom-row-div">
                            <i class="fa fa-users d-inline d-lg-none card-icon" aria-hidden="true"></i>
                            <p class="d-none d-sm-inline ml-1">Serves: </p>
                            <p class="d-inline ml-1">{{ recipe.serves_num }}</p>
                            <i class="fa fa-users ml-1 d-none d-lg-inline card-icon" aria-hidden="true"></i>
                        </div>
                        <div class="col-4">
                            <button class="view-recipe-button"><a href="{{ url_for('recipe', id=recipe._id) }}" class="button_link">View<span class="d-none d-md-inline"> Recipe</span></a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteProfileModal">Delete Profile </button>
    </div>
</div>
<div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger uppercase" id="deleteModalLabel"><strong>Delete Profile</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to do this?</p>
                <p>This will delete all of your reviews and your profile.</p>
                <p>There's no way of retrieving your data once it's gone!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href=" {{ url_for('delete_profile') }} " class="btn btn-danger" title="Delete Profile">Delete Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
