{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row recipe-heading-container">
        <div class="col-12 text-center">
            <h1 class="recipe-page-title" id="main-title">{{ recipe.recipe_name }}</h1>
            <p><i>Chef: {{ recipe.username }}</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <img src="{{ recipe.picture }}" class="recipe-image">
        </div>
    </div>

    <div class="row text-center stats-container">
        <div class="col-4"><h3 class="stat">Prep: {{ recipe.prep_time }} mins</h3></div>
        <div class="col-4"><h3 class="stat">Cook: {{ recipe.cook_time }} mins</h3></div>
        <div class="col-4"><h3 class="stat">Serves: {{ recipe.serves_num }}</h3></div>
    </div>

    <div class="row">
        <div class="col-12 border-class text-center">
            <p id="recipe-description">"<i> {{ recipe.description }} </i>"</p>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12 col-md-6 text-center uppercase">
                <h2 class="recipe-page-title">Ingredients:</h2>
                <ul class="recipe-list">
                    {% for food in recipe.ingredients %}
                    <li><i class="fa fa-plus list-icon"></i><p> {{ food }}</p></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 border-left text-center uppercase">
                <h2 class="recipe-page-title">Equipment:</h2>
                <ul class="recipe-list">
                    {% for item in recipe.equipment %}
                        <li><i class="fa fa-plus list-icon"></i><p> {{ item }}</p></li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    
    <div class="row">
        <div class="col-12 text-center">
            {% for tool in ad_equipment %}
                {% if tool in recipe.equipment %}
                    <div class="border-class ad-container">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 ad-image-container">
                                <img src="../static/images/ad_pic.jpg" class="ad-image">
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <h3 class="ad-title uppercase">VonShef 11 Piece Copper Pan Set</h3>
                                <p class="ad-paragraph">Ideal for anyone looking to upgrade their kitchenware, 
                                this elegant 11pc copper cookware set will unleash the culinary potential of any kitchen</p>
                                <button class="ad-button"><a href="https://amzn.to/3652Yu4" target="_blank" class="ad-link">Check it out</a></button>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="no-ad"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <h2 class="text-center recipe-page-title">Method:</h2>
            <ol class="recipe-list">
                {% for method in recipe.method %}
                    <li class="method-list-item"><input type="checkbox" class="form-check-input" id="exampleCheck1">{{ method }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endblock %}
